$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
color: #fff;
text-decoration: none;
}

#AL{

  color:white;

}
#dropdown-label{
  color: white;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('index.jpeg');
  height: 400px;
}
.jumbotron h1 {
  color: black;
  font-weight: bold;
  letter-spacing:-1px
}
.article-actions {
  border-top: 1px solid black;
  padding-top: 5px;

}
.description {
  margin-top: 0;

}
.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 3px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.footer {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid black;
  color:#777;
}
.footer a:hover {
  color:black;
}
.footer ul {
  float: right;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
