<div class="container">
  <footer class="footer">
      <small>
        copyright &copy; <a href="https://www.google.com">Google Industries</a>
        by <a href="#">Muhammad Faizan Amin</a>
        </small>
        <nav>
          <ul>
            <li>
              <%= link_to "About", about_path %>
            </li>
